.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 항상 위에 뜨도록 */
}

.modalContent {
  background: #fff;
  width: 700px;
  height: 800px;
  border-radius: 12px;
  padding: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 15px;

  justify-content: center;
}

.modalTitle {
    font-size: 35px;
    margin: 0;
    color: #464646;
}

.kitName,
.kitDescription {
    font-size: 20px;
    color: #464646;
}

.kitNameInput,
.kitDescriptionInput {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px;

    outline: none;
    border: 1px solid #BABABA;
    border-radius: 10px;
}

.kitNameInput:focus,
.kitDescriptionInput:focus {
    border: 2px solid #E35050;
}

.listTitle {
    font-size: 20px;
    color: #464646;

    margin-top: 10px;
    margin-bottom: 10px;
}


.templateList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    flex: 1;
}


.checkboxItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    height: 100px;

    font-size: 18px;
    color: #464646;
}

.checkboxItem input {
    width: 25px;
    height: 25px;
    accent-color: #E35050;

    cursor: pointer;
}

.checkboxItem img {
    width: 90px;
    height: 90px;
    border-radius: 12px;

    margin-left: 10px;
}

.modalButtons {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.cancelButton,
.createButton {
    width: 120px;
    height: 50px;

    font-size: 15px;

    cursor: pointer;

}

.cancelButton {
    border : 1px solid #464646;
    border-radius: 12px;

    color: #464646;
    background-color: transparent;
}


.createButton {
    border : none;
    border-radius: 12px;

    color: white;
    background-color: #E35050;
}


/* 모바일 */
@media (max-width: 767px) {
    .modalTitle {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 25px;
    }

    .kitName,
    .kitDescription {
        font-size: 15px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 40px;
        font-size: 15px;
    }

    .listTitle {
        font-size: 15px;
        margin-top: 20px;
    }


    .templateList {
        gap: 20px;
    }


    .checkboxItem {
        font-size: 13px;
        height: auto;
    }

    .checkboxItem input {
        width: 20px;
        height: 20px;
    }

    .checkboxItem img {
        width: 60px;
        height: 60px;
    }


    .cancelButton,
    .createButton {
        width: 120px;
        height: 40px;

    }

}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .modalTitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 40px;
    }

    .kitName,
    .kitDescription {
        font-size: 18px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 45px;
        font-size: 18px;
    }

    .listTitle {
        font-size: 18px;
        margin-top: 20px;
    }


    .templateList {
        gap: 20px;
    }


    .checkboxItem {
        font-size: 18px;
        height: auto;
    }

    .checkboxItem input {
        width: 22px;
        height: 22px;
    }

    .checkboxItem img {
        width: 90px;
        height: 90px;
    }


    .cancelButton,
    .createButton {
        width: 140px;
        height: 50px;
        font-size: 18px;
    }
}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .modalTitle {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 40px;
    }

    .kitName,
    .kitDescription {
        font-size: 20px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 50px;
        font-size: 20px;
    }

    .listTitle {
        font-size: 20px;
        margin-top: 20px;
    }


    .templateList {
        gap: 20px;
    }


    .checkboxItem {
        font-size: 20px;
        height: auto;
    }

    .checkboxItem input {
        width: 22px;
        height: 22px;
    }

    .checkboxItem img {
        width: 95px;
        height: 95px;
    }


    .cancelButton,
    .createButton {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }

}
