.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 항상 위에 뜨도록 */
}

.modalContent {
  background: #fff;
  width: 700px;
  height: 800px;
  border-radius: 12px;
  padding: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  gap: 15px;

  justify-content: center;
}

.modalTitle {
    font-size: 35px;
    margin: 0;
    color: #464646;
}


.kitName,
.kitDescription {
    font-size: 20px;
    color: #464646;
}


.kitNameInput,
.kitDescriptionInput {
    width: 100%;
    height: 45px;
    font-size: 18px;
    padding: 10px;

    outline: none;
    border: 1px solid #BABABA;
    border-radius: 10px;
}


.kitNameInput:focus,
.kitDescriptionInput:focus {
    border: 2px solid #E35050;
}

.listTitle {
    font-size: 20px;
    color: #464646;

    margin-top: 20px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.listTitle h3 {
    font-size: 20px;
    color: #464646;

}

.templateAddBtn {
    width: 100px;
    height: 30px;
    cursor: pointer;

    border: 1px solid #464646;
    border-radius: 20px;
    background-color: white;
}


.templateList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;

    width: 100%;
    height: 300px;
    flex: 1;
}


.templateItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    height: 100px;

    font-size: 18px;
    color: #464646;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info img {
    width: 90px;
    height: 90px;
    border-radius: 12px;

    margin-left: 10px;
}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.btnGroup button,
.btnGroup a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    border-radius: 15px;
    border: 1px solid #ccc;

    cursor: pointer;

}


.btnGroup button {
    background-color: white;
    font-size: 10px;
}




.btnGroup a img {
    width: 30px;
    height: 30px;

}



.modalButtons {
    display: flex;
    justify-content: space-evenly;
}



.deleteBtn,
.updateBtn,
.closeBtn {
    width: 120px;
    height: 50px;

    font-size: 15px;

    cursor: pointer;

}

.deleteBtn {
    border : 1px solid #464646;
    border-radius: 12px;

    color: #464646;
    background-color: transparent;
}


.updateBtn {
    border : none;
    border-radius: 12px;

    color: white;
    background-color: #E35050;
}

.closeBtn {
    border : 1px solid #E35050;
    border-radius: 12px;

    color: #E35050;
    background-color: transparent;
}


/* 모바일 */
@media (max-width: 767px) {
    .modalTitle {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 25px;
        justify-content: flex-start;
    }

    .kitName,
    .kitDescription {
        font-size: 15px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 40px;
        font-size: 15px;
    }

    .listTitle {
        font-size: 15px;
        margin-top: 20px;
    }

    .listTitle h3 {
        font-size: 15px;
    }

    .templateAddBtn {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }


    .templateList {
        gap: 15px;
    }


    .templateItem {
        font-size: 15px;
        height: auto;
    }

    .templateItem img {
        width: 60px;
        height: 60px;
    }

    .icon {
        width: 16px;
        height: 16px;
    }

    .btnGroup a img {
        width: 22px;
        height: 22px;
    }

    .btnGroup button,
    .btnGroup a {
        width: 30px;
        height: 30px;

    }


    .deleteBtn,
    .updateBtn,
    .closeBtn {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }

}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .modalTitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 40px;
    }

    .kitName,
    .kitDescription {
        font-size: 18px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 45px;
        font-size: 18px;
    }

    .listTitle {
        font-size: 18px;
        margin-top: 20px;
    }


    .listTitle h3 {
        font-size: 18px;
    }

    .templateAddBtn {
        width: 100px;
        height: 25px;
        font-size: 13px;
    }


    .templateList {
        gap: 18px;
    }


    .templateItem {
        font-size: 18px;
        height: auto;
    }

    .templateItem img {
        width: 80px;
        height: 80px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .btnGroup a img {
        width: 24px;
        height: 24px;
    }

    .btnGroup button,
    .btnGroup a {
        width: 35px;
        height: 35px;

    }


    .deleteBtn,
    .updateBtn,
    .closeBtn {
        width: 120px;
        height: 50px;
        font-size: 15px;
    }
}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .modalTitle {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .modalContent {
        gap: 10px;
        padding: 40px;
    }

    .kitName,
    .kitDescription {
        font-size: 20px;
    }

    .kitNameInput,
    .kitDescriptionInput {
        width: 100%;
        height: 50px;
        font-size: 20px;
    }

    .listTitle {
        font-size: 20px;
        margin-top: 20px;
    }


    .listTitle h3 {
        font-size: 20px;
    }

    .templateAddBtn {
        width: 100px;
        height: 27px;
        font-size: 14px;
    }


    .templateList {
        gap: 20px;
    }


    .templateItem {
        font-size: 20px;
        height: auto;
    }

    .templateItem img {
        width: 90px;
        height: 90px;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .btnGroup a img {
        width: 24px;
        height: 24px;
    }

    .btnGroup button,
    .btnGroup a {
        width: 35px;
        height: 35px;

    }


    .deleteBtn,
    .updateBtn,
    .closeBtn {
        width: 130px;
        height: 50px;
        font-size: 18px;
    }

}