.pagination {
  margin-top: 32px;
  text-align: center;
}

.pageButton {
  margin: 0 8px;
  padding: 8px 12px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

.activePage {
  background-color: #E35050;
  color: white;
  border-radius: 10px;
}


/* 모바일 */
@media (max-width: 767px) {
  .pageButton {
    width: 25px;
    height: 25px;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 11px;
  }

}

