.cartPageContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-bottom: 40px;
}

.title {
    font-size: 35px;
    text-align: center;
    color: #464646;

    width: 80%;
    max-width: 1500px;

    border-bottom: 1px solid #464646;
}


.contentWrapper {
    display: flex;
    width: 80%;
    max-width: 1500px;

    gap: 40px;
}


.left {
    width: 100%;
}



/* 모바일 */
@media (max-width: 767px) {
    .cartPageContainer {
        gap: 25px;
        padding-top: 50px;
    }

    .wishListPageContainer {
        padding-top: 50px;
        gap: 10px;
    }

    .title {
        font-size: 17px;
    }
    

    .contentWrapper {
        flex-direction: column;
        gap: 25px;
    }

}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .title {
        font-size: 22px;
    }

    .contentWrapper {
        flex-direction: column;
    }

}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .title {
        font-size: 27px;
    }

    .contentWrapper {
        flex-direction: column;
    }


}

/* 큰 태블릿~작은 PC: iPad Pro 가로 이상 */
@media (min-width: 1024px) and (max-width: 1199px) {
 
    .title {
        font-size: 30px;
    }

    .contentWrapper {
        flex-direction: column;
    }

}