.cartSummaryContainer {
    width: 500px;
    

    border: 1px solid #ccc;

    position: sticky;
    border-radius: 12px;
    top: 100px;

    padding: 30px;

    display: flex;
    flex-direction: column;

}

.title  {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;

  font-size: 17px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #e4e5ed;
    margin: 20px 0;
}


.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  padding-top: 10px;

  font-size: 20px;

}

.totalRow em {
  font-style: normal;
  font-size: 12px;

  color: #888;

  margin-left: 4px;
}

.finalPrice {
    font-size: 25px;
    font-weight: bold;

    color: #464646;
}

.bottomWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdownBox {
    width: 100%;

    color: #808080;
    background-color: #f3f3f3;
    
    border-radius: 12px;
    
    padding: 10px;
    margin-bottom: 20px;

}


.dropdownBox summary {
  font-weight: 500;
  padding: 10PX;
  cursor: pointer;

  font-size: 15px;

}


.dropdownBox p {
  font-size: 13px;
  color: #aaaaaa;
  padding-left: 30px;
  padding-bottom: 15px;
}


.agree p {
    font-size: 12px;
    color: #808080;
    margin-bottom: 20px;
}


.payButton {
    width: 100%;
    height: 50px;

    color: white;
    background-color: #E35050;

    border: none;
    border-radius: 12px;

    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
}

.payButton:disabled {
    color: #E35050;
    background-color: #fde4e4;
    font-weight: 500;
}


/* 모바일 */
@media (max-width: 767px) {
  .cartSummaryContainer {
    width: 100%;
  }

  .title  {
    font-size: 15px;
  }

  .row {
    font-size: 12px;
  }

  .divider {
    margin: 10px 0;
  }


  .totalRow {
    margin-bottom: 20px;
    padding-top: 10px;

    font-size: 15px;
  }

  .totalRow em {
    font-size: 10px;
    margin-left: 2px;
  }

  .finalPrice {
    font-size: 17px;
  }


  .dropdownBox {
    
    padding: 5px;
    margin-bottom: 5px;

}


  .dropdownBox summary {
    font-size: 10px;
    padding: 5px;
  }


  .dropdownBox p {
    font-size: 8px;
    padding-left: 15px;
    padding-bottom: 5px;
  }


  .agree p {
    font-size: 9px;
  }


  .payButton {
    height: 30px;
    font-size: 12px;
  }

}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .cartSummaryContainer {
      width: 100%;
  }

}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .cartSummaryContainer {
      width: 100%;
}

}

/* 큰 태블릿~작은 PC: iPad Pro 가로 이상 */
@media (min-width: 1024px) and (max-width: 1199px) {
 
    .cartSummaryContainer {
      width: 100%;
}

}