.ordersContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;

}

.title {
    font-size: 35px;

    text-align: center;
    color: #464646;

    width: 80%;
    max-width: 1500px;

    border-bottom: 1px solid #464646;

}


.ordersWrapper,
.noOrdersWrapper {
    width: 80%;
    max-width: 1500px;

    border: 1px solid #ccc;
    border-radius: 12px;

    padding: 50px;

}

.noOrdersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    gap: 30px;
}




.orderComment {
    font-size: 18px;
    font-weight: 600;
    color: #464646;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 50px;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;

    border: 1px solid #E35050;
    border-radius: 20px;

    color: #E35050;
    background-color: white;

    cursor: pointer;
}



.orderInfo {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    color: #808080;

    padding-left: 30px;
    padding-right: 30px;
    
    margin-bottom: 30px;
}

.orderInfo span:first-child {
    font-size:  30px;
    font-weight: bold;
    color: #464646;

}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.itemWrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    padding-left: 30px;
    padding-right: 30px;;
}

.items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.itemImg {
    width: 200px;
    height: 200px;

    border-radius: 20px;
}

.itemInfo {
    display: flex;
    flex-direction: column;

    /* padding-top: 40px; */
}

.itemTitle {
    font-size: 23px;
    color: #464646;
}

.itemCategory {
    font-size: 15px;
    color: #ccc;
}

.itemPrice {
    font-size: 20px;
    font-weight: 600;
    color: #464646;

}

.btnGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.downloadBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius:15px;
    border: 1px solid #ccc;
}



.downloadBtn img {
    width: 50px;
    height: 50px;

}


.cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    width: 60px;
    height: 60px;

    font-size: 16px;
    font-weight: bold;
    
    border-radius:15px;
    border: 1px solid #ccc;
    
    cursor: pointer;

}

.cartBtn img {
    width: 32px;
    height: 32px;
}

.totalPrice {
    font-size: 25px;
    color: #464646;

    padding-left: 30px;
    padding-right: 30px;
}

.totalPrice span:nth-child(2) {
    font-size: 30px;
    font-weight: 600;
    color: #464646;
    
}





@media (max-width: 767px) {

    .ordersContainer {
        gap: 25px;
        padding-top: 50px;

    }

    .title {
        font-size: 17px;
    }

    .ordersWrapper,
    .noOrdersWrapper {
        padding: 15px;
    }

    .orderInfo {
        font-size: 12px;

        padding-left: 0;
        padding-right: 0;
        
        margin-bottom: 20px;
    }

    .orderInfo span:first-child {
        font-size:  18px;
    }

    .itemWrapper {

        margin-bottom: 20px;

        padding-left: 0;
        padding-right: 0;
    }

    .items {
        gap: 10px;
    }

    .itemImg {
        width: 90px;
        height: 90px;

        border-radius: 12px;
    }


    .itemTitle,
    .itemPrice {
        font-size: 12px;
    }

    .itemCategory {
        font-size: 10px;
    }

    .btnGroup {
        gap: 15px;
    }

    .downloadBtn {
        width: 30px;
        height: 30px;
        
    }


    .downloadBtn img {
        width: 20px;
        height: 20px;

    }


    .cartBtn {
        width: 30px;
        height: 30px;
    }

    .cartBtn img {
        width: 18px;
        height: 18px;
    }

    .totalPrice {
        font-size: 12px;

        padding-left: 10px;
        padding-right: 30px;
    }

    .totalPrice span:nth-child(2) {
        font-size: 17px;
    }

    .orderComment {
        font-size: 12px;
    }

    .noOrdersWrapper {
        gap: 15px;
    }


    .btn {
        width: 120px;
        height: 30px;
        
        font-size: 12px;
    }

}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .title {
        font-size: 22px;
    }

    .ordersWrapper,
    .noOrdersWrapper {
        padding: 20px;
        gap: 20px;
    }

    .orderInfo {
        font-size: 14px;

        padding-left: 0;
        padding-right: 0;
        
        margin-bottom: 20px;
    }

    .orderInfo span:first-child {
        font-size:  20px;
    }

    .itemWrapper {
        margin-bottom: 20px;

        padding-left: 0;
        padding-right: 0;
    }

    .items {
        gap: 15px;
    }

    .itemImg {
        width: 140px;
        height: 140px;

        border-radius: 12px;
    }


    .itemTitle,
    .itemPrice {
        font-size: 17px;
    }

    .itemCategory {
        font-size: 12px;
    }

    .btnGroup {
        gap: 20px;

    }

    .downloadBtn {
        width: 40px;
        height: 40px;
        
    }


    .downloadBtn img {
        width: 30px;
        height: 30px;

    }


    .cartBtn {
        width: 40px;
        height: 40px;
    }

    .cartBtn img {
        width: 25px;
        height: 25px;
    }

    .totalPrice {
        font-size: 17px;

        padding-left: 20px;
        padding-right: 30px;
    }

    .totalPrice span:nth-child(2) {
        font-size: 20px;
    }


    .orderComment {
        font-size: 16px;
    }


    .btn {
        max-width: 130px;
        height: 40px;
        font-size: 16px;
    }


}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .title {
        font-size: 27px;
    }


    .ordersWrapper,
    .noOrdersWrapper {
        padding: 25px;
    }

    .orderInfo {
        font-size: 15px;

        padding-left: 0;
        padding-right: 0;
        
        margin-bottom: 20px;
    }

    .orderInfo span:first-child {
        font-size:  22px;
    }

    .itemWrapper {
        margin-bottom: 20px;

        padding-left: 0;
        padding-right: 0;
    }

    .items {
        gap: 17px;
    }

    .itemImg {
        width: 150px;
        height: 150px;

        border-radius: 12px;
    }


    .itemTitle,
    .itemPrice {
        font-size: 19px;
    }

    .itemCategory {
        font-size: 14px;
    }

    .btnGroup {
        gap: 20px;

    }

    .downloadBtn {
        width: 45px;
        height: 45px;
        
    }


    .downloadBtn img {
        width: 35px;
        height: 35px;

    }


    .cartBtn {
        width: 45px;
        height: 45px;
    }

    .cartBtn img {
        width: 27px;
        height: 27px;
    }

    .totalPrice {
        font-size: 19px;

        padding-left: 20px;
        padding-right: 30px;
    }

    .totalPrice span:nth-child(2) {
        font-size: 22px;
    }

    .orderComment {
        font-size: 18px;
    }


    .btn {
        max-width: 170px;
        height: 40px;
        font-size: 18px;
    }

}

/* 큰 태블릿~작은 PC: iPad Pro 가로 이상 */
@media (min-width: 1024px) and (max-width: 1199px) {
 
    .title {
        font-size: 30px;
    }

    .ordersWrapper,
    .noOrdersWrapper {
        padding: 30px;
    }

    .orderInfo {
        font-size: 17px;

        padding-left: 0;
        padding-right: 0;
        
        margin-bottom: 20px;
    }

    .orderInfo span:first-child {
        font-size:  27px;
    }

    .itemWrapper {
        margin-bottom: 20px;

        padding-left: 0;
        padding-right: 0;
    }

    .items {
        gap: 20px;
    }

    .itemImg {
        width: 170px;
        height: 170px;

        border-radius: 12px;
    }


    .itemTitle,
    .itemPrice {
        font-size: 20px;
    }

    .itemCategory {
        font-size: 15px;
    }

    .btnGroup {
        gap: 20px;

    }

    .downloadBtn {
        width: 50px;
        height: 50px;
        
    }


    .downloadBtn img {
        width: 40px;
        height: 40px;

    }


    .cartBtn {
        width: 50px;
        height: 50px;
    }

    .cartBtn img {
        width: 30px;
        height: 30px;
    }

    .totalPrice {
        font-size: 20px;

        padding-left: 20px;
        padding-right: 30px;
    }

    .totalPrice span:nth-child(2) {
        font-size: 26px;
    }
    
    .orderComment {
        font-size: 20px;
    }

    .btn {
        max-width: 190px;
        height: 45px;
        font-size: 20px;
        border-radius: 15px;
    }

}