.ordersContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 40px;

}

.title {
    font-size: 35px;

    text-align: center;
    color: #464646;

    width: 80%;

    border-bottom: 1px solid #464646;

}


.ordersWrapper,
.noOrdersWrapper {
    width: 80%;

    border: 1px solid #ccc;
    border-radius: 12px;

    padding: 50px;

}

.noOrdersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    gap: 30px;
}




.orderComment {
    font-size: 18px;
    font-weight: 600;
    color: #464646;
}


.Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 50px;

    font-size: 18px;
    font-weight: 500;

    text-decoration: none;

    border: 1px solid #E35050;
    border-radius: 20px;

    color: #E35050;
    background-color: white;

    cursor: pointer;
}



.orderInfo {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    color: #808080;

    padding-left: 30px;
    padding-right: 30px;
}

.orderInfo span:first-child {
    font-size:  30px;
    font-weight: bold;
    color: #464646;

}

.divider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.itemWrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    padding-left: 30px;
    padding-right: 30px;;
}

.items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.itemImg {
    width: 200px;
    height: 200px;

    border-radius: 20px;
}

.itemInfo {
    display: flex;
    flex-direction: column;

    /* padding-top: 40px; */
}

.itemTitle {
    font-size: 23px;
    color: #464646;
}

.itemCategory {
    font-size: 15px;
    color: #ccc;
}

.itemPrice {
    font-size: 20px;
    font-weight: 600;
    color: #464646;

}


.cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;

    width: 60px;
    height: 60px;

    font-size: 16px;
    font-weight: bold;
    
    border-radius:15px;
    border: 1px solid #ccc;
    
    cursor: pointer;

    /* margin-top: 40px; */
}

.cartBtn img {
    width: 32px;
    height: 32px;
}

.totalPrice {
    font-size: 25px;
    color: #464646;

    padding-left: 30px;
    padding-right: 30px;
}

.totalPrice span:nth-child(2) {
    font-size: 30px;
    font-weight: 600;
    color: #464646;
    
}



