.orderCompleteContainer {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}

.completeArea {
    background-color: #ccc;
    width: 80%;
    height: 370px;
    padding: 30px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-radius: 12px;
}

.completeArea p {
    font-size: 40px;
    font-weight: 500;
    color: #464646;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.orderNumber,
.orderPrice {
    display: flex;
    font-size: 25px;
    font-weight: 500;

    color: #464646;

    padding: 30px;

    justify-content: space-between;
    
}

.orderDownloadArea {
    list-style: none;
    padding: 30px;
}

.downloadItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.itemInfo {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    color: #464646;
}


.itemImg {
    width: 100px;
    height: 100px;

    border-radius: 12px;
}

.downloadBtn {
    cursor: pointer;
}

.downloadBtn img {
    width: 50px;
    height: 50px;
}

.homeBtn,
.mypageBtn {
    width: 345px;
    height: 70px;

    text-decoration: none;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

.btnGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    margin-bottom: 10px;
}


.homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #464646;
    border-radius: 20px;

    color: #464646;
    background-color: white;
}

.mypageBtn {

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 20px;

    color: white;
    background-color: #E35050;

}


/* 모바일 */
@media (max-width: 767px) {
    .orderCompleteContainer {
        gap: 5px;
    }

    .completeArea {
        height: auto;
        padding: 20px;

    }

    .completeArea figure img {
        width: 70px;
        height: 70px;
    }

    .completeArea p {
        font-size: 15px;

    }

    .orderNumber {
        margin-top: 10px;
    }

    .orderNumber,
    .orderPrice {
        font-size: 10px;
        font-weight: 500;

        color: #464646;

        padding: 5px;

    }

    .orderDownloadArea {
        padding: 5px;
        margin-top: 10px;
    }


    .itemInfo {
        gap: 10px;
        font-size: 12px;
    }

    .itemInfo span {
        font-size: 10px;
    }


    .itemImg {
        width: 50px;
        height: 50px;
    }


    .downloadBtn img {
        width: 25px;
        height: 25px;
    }

    .homeBtn,
    .mypageBtn {
        width: 90px;
        height: 30px;

        font-size: 12px;
        border-radius: 12px;
    }

    .btnGroup {
        gap: 20px;
    }


}

/* 테블릿 */
/* 작은 태블릿: mini */
@media (min-width: 768px) and (max-width: 819px) {
    .orderCompleteContainer {
        gap: 15px;
        padding-top: 50px;
    }

    .completeArea {
        height: auto;
        padding: 20px;

    }

    .completeArea figure img {
        width: 80px;
        height: 80px;
    }

    .completeArea p {
        font-size: 18px;

    }

    .orderNumber {
        margin-top: 10px;
    }

    .orderNumber,
    .orderPrice {
        font-size: 14px;
        font-weight: 500;

        color: #464646;

        padding: 5px;

    }

    .orderDownloadArea {
        padding: 5px;
        margin-top: 10px;
    }


    .itemInfo {
        gap: 10px;
        font-size: 14px;
    }

    .itemInfo span {
        font-size: 14px;
    }


    .itemImg {
        width: 60px;
        height: 60px;
    }


    .downloadBtn img {
        width: 27px;
        height: 27px;
    }

    .homeBtn,
    .mypageBtn {
        width: 110px;
        height: 40px;

        font-size: 13px;
        border-radius: 12px;
    }

    .btnGroup {
        gap: 20px;
    }

}

/* 중간 태블릿: Air */
@media (min-width: 820px) and (max-width: 1023px) {
    .orderCompleteContainer {
        gap: 15px;
        padding-top: 50px;
    }

    .completeArea {
        height: auto;
        padding: 20px;

    }

    .completeArea figure img {
        width: 90px;
        height: 90px;
    }

    .completeArea p {
        font-size: 20px;

    }

    .orderNumber {
        margin-top: 10px;
    }

    .orderNumber,
    .orderPrice {
        font-size: 17px;

        padding: 5px;

    }

    .orderDownloadArea {
        padding: 5px;
        margin-top: 10px;
    }


    .itemInfo {
        gap: 10px;
        font-size: 17px;
    }

    .itemInfo span {
        font-size: 17px;
    }


    .itemImg {
        width: 70px;
        height: 70px;
    }


    .downloadBtn img {
        width: 29px;
        height: 29px;
    }

    .homeBtn,
    .mypageBtn {
        width: 120px;
        height: 45px;

        font-size: 15px;

    }

    .btnGroup {
        gap: 20px;
    }


}

/* 큰 태블릿~작은 PC: iPad Pro 가로 이상 */
@media (min-width: 1024px) and (max-width: 1199px) {
 
    .orderCompleteContainer {
        gap: 20px;
        padding-top: 50px;
    }
    
    .completeArea {
        height: auto;
        padding: 20px;

    }

    .completeArea figure img {
        width: 100px;
        height: 100px;
    }

    .completeArea p {
        font-size: 25px;

    }

    .orderNumber {
        margin-top: 10px;
    }

    .orderNumber,
    .orderPrice {
        font-size: 20px;

        padding: 5px;

    }

    .orderDownloadArea {
        padding: 5px;
        margin-top: 10px;
    }


    .itemInfo {
        gap: 10px;
        font-size: 20px;
    }

    .itemInfo span {
        font-size: 20px;
    }


    .itemImg {
        width: 90px;
        height: 90px;
    }


    .downloadBtn img {
        width: 30px;
        height: 30px;
    }

    .homeBtn,
    .mypageBtn {
        width: 140px;
        height: 50px;

        font-size: 17px;

    }

    .btnGroup {
        gap: 20px;
    }

}