.carouselContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-top: 60px;
}

.carouselSlide {

  width: 100%;
  height: 500px; 

  position: relative;
  background-color: #FBFBFB;
}

.carouselInner {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 1000px;

  aspect-ratio: 16/9; 
}


.carouselDescription {
  position: absolute;

  display: flex;
  flex-direction: column;

  align-items: flex-start;

  bottom: 50%;
  left: 0;

  z-index: 1;

  color: #464646;
}

.carouselDescription h2 {
  margin: 0;
}


.carouselTitle {
  font-size: 32px;
  font-weight: bold;
  color: #464646;
}


.carouselText {
  margin-top: 8px;
  color: #464646;

  font-size: 16px;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* 모바일 */
@media (max-width: 767px){
  .carouselContainer {
    height: 250px;
  }

  .carouselSlide {
    height: 250px;
  }




  .carouselTitle {
    font-size: 10px;
  }


  .carouselText {
    font-size: 8px;
  }
  
    
}


/* 테블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {
   .carouselContainer {
    height: 400px;
  }

  .carouselSlide {
    height: 400px;
  }




  .carouselTitle {
    font-size: 18px;

  }


  .carouselText {
    font-size: 13px;
  }
  
}

/* 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
  
}