.carouselContainer {
  position: relative;
  width: 100%;
  padding-top: 60px;
}

.carouselSlide {
  position: relative;
}

.carouselDescription {
  position: absolute;
  bottom: 33%;
  left: 24px;
  text-align: left;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .carouselDescription {
    left: 80px;
  }
}

.carouselTitle {
  font-size: 24px;
  font-weight: bold;
  color: #464646;
}

@media screen and (min-width: 768px) {
  .carouselTitle {
    font-size: 36px;
  }
}

.carouselText {
  margin-top: 8px;
  color: #464646;
}

.carouselImage {
  width: 80%;
  height: 700px;
}
