.wishListPageContainer {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.title {
    font-size: 35px;
    text-align: center;
    color: #464646;

    width: 80%;
    max-width: 1500px;

    border-bottom: 1px solid #464646;
}

.wishCommentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    border: 1px solid #ccc;
    border-radius: 12px;

    width: 80%;
    max-width: 1500px;

    margin: 0 auto;
    padding: 50px;

}

.wishCommentWrapper a {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #E35050;
    background-color: white;

    width: 200px;
    height: 50px;

    border: 1px solid #E35050;
    border-radius: 20px;

    font-size: 18px;
    font-weight: 500;
}

.wishlistComment {
    font-size: 18px;
    font-weight: 600;
    color:#464646;
}


.wishListWrapper {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 30px;

    margin-bottom: 30px;
    padding: 30px;

    width: 80%;
    height: auto;

    border: 1px solid #ccc;
    border-radius: 12px;
}



.wishListWrapper li {
    display: flex;

    width: 95%;
    justify-content: space-between;

    

}

.productInfo {
    display: flex;
    gap: 40px;
}



.productImg {
    width: 250px;
    height: 250px;

    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productTitle {
    font-size: 28px;
    color: #464646;
}

.category {
    font-size: 15px;
    color: #ccc;
}

.price {
    font-size: 25px;
    font-weight: bold;

    margin-top: 40px;
}

.buttonArea {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 50px;
    
}

.deleteBtn,
.cartBtn {
    background-color: transparent;

    width: 200px;
    height: 60px;

    font-size: 16px;
    border-radius: 15px;

    cursor: pointer;
}

.deleteBtn {
    border: 1px solid #ccc;
    color: #464646;
}


.cartBtn {
    border: 1px solid #E35050;
    color: #E35050;
    
    font-weight: bold;

}

